.container {
    display: flex;
    background-color: #f5f5fa;
  }
  
  .header-logo {
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
  }
  
  .sidebar {
    width: 300px;
    padding: 22px;
    border-radius: 31px;
    margin: 13px;
    height: 600px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #00000029;
    border-radius: 20px;
    background: #ffffff;
    height: 45px;
    margin-top: 15px;
    margin-left: 18px;
    width: 369px;
    height: 48px;
  }
  
  .search-bar input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    background: none;
  }
  
  .search-button, .audio-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  
  .search-button img, .audio-button img {
    width: 24px;
    height: 24px;
    padding-top: 1px;
    margin-left: -3px;
  }
  
  .product-list {
    border: 1px solid transparent;
    border-radius: 32px;
    width: 298px;
    height: 515px;
    padding-top: 27px;
  }
  
  .sidebar button {
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 15px;
    color: black;
    cursor: pointer;
    width: 370px;
    height: 78px;
    margin-left: 16px;
    background: #ffffff;
    border: 1px solid rgb(214 210 210 / 43%);
  }
  
  .product-item {
    display: flex;
    gap: 30px;
  }
    
  .product-name {
    margin-left: -16px;
  }
  
  .product-name h2 {
    margin: 6px 0 -13px 2px;
  }
  
  .product-name h6 {
    font-size: 13px;
    color: #00000085;
    margin-top: 15px;
  }
   
 .active_id .product-name {
    color: #fff !important;
  }
  .active_id .product-name h6 {
    color: #ffffffc2!important;
  }
  
  .content {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
  }
  
  .search-bar input:focus {
    border-color: rgb(63, 63, 161);
    outline: none;
  }
  .active_id{
    background-color: #000080b8 !important;
  }